<% layout('/layouts/boilerplate') %>

<body>
  <div class="l-container">
    <div class="wrapper">

      <!-- Title Section -->
      <div class="title-text">
        <div class="title signup">Enter your email to reset password</div>
      </div>

      <!-- Forgot Password Form -->
      <div class="form-container">
        <div class="form-inner">
          <form action="/forgot-password" method="POST" class="signup" novalidate>
            <div class="field">
              <input
                type="email"
                name="email"
                placeholder="Email Address"
                required
              />
              <div class="error-msg"></div>
            </div>

            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Send Reset Link" />
            </div>
          </form>
        </div>

        <!-- <div class="title login">Forgot Password</div> -->
      </div>

    </div>
  </div>
</body>
