<% layout('/layouts/boilerplate') %>

<body>
  <div class="l-container">
    <div class="wrapper">
      <div class="title-text">
        <div class="title signup">Reset Your Password</div>
      </div>

      <div class="form-container">
        <div class="form-inner">
          <form action="/reset-password/<%= token %>" method="POST" class="signup" novalidate>
            <div class="field">
              <input type="password" name="password" placeholder="New Password" required />
            </div>
            <div class="field">
              <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Reset Password" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
